<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/static/main.css" rel="stylesheet" type="text/css">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
    <script>
        const table = document.querySelector('.dataframe tbody');
        const allTH = table.querySelectorAll('th');
        allTH.forEach((x, y) => {
            x.innerText = ++y;
        })
                 console.log(allTH);
    </script>
</html>